.background_pane {
    -fx-background-color: #242331;
}

.textfields {
    -fx-background-color: #2b2a36;
    -fx-text-inner-color: #b59464;
}

.gridLabel {
    -fx-text-fill: #e3a956;
}

.radio-button .radio {
    -fx-background-color: #cd8d5c;
}

.radio-button:selected .radio {
    -fx-background-color: #DDCA7D;
}
